
    
    <div class="container dashboard">
        {{>dashboard_nav}}
        
        
            <div class="dash_body">
                
                <h1>Add game</h1>
        
                <form id="article_form">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Add a game">
                    </div>
        
                    <div>
                        <textarea type="text" name="review" id="review" placeholder="Add game synopsis here"></textarea>
                    </div>
        
                    <button type="submit"> Add article </button>
        
                </form>
        
            </div>
        </div>
    


<script>
        $("#article_form").validate({
			rules: {
				title: "required",
				review: "required"
			},
			messages: {
				title: "Please enter a title",
				review: "Please enter a review"
			},
            submitHandler: function(form,event) {
                event.preventDefault();
                postData()
            }
		});

        function postData(){
            const article = {
                title:$('#title').val(),
                review:$('#review').val()
            }

            $.ajax({
                type:'POST',
                url:'/api/add_article',
                data:JSON.stringify(article),
                contentType:'application/json',
                success:(data)=>{
                    alert('good')              
                },
                error:()=>{
                    alert('Big problem')
                }

            })
        }

</script>
