<div class="container wrapper">

    {{#each articles}}
    <a href="/games/{{this._id}}">
        <div class="item">
            <div class="top">
                <div class="title">{{this.title}}</div>
            </div>
            <div class="content">
                {{this.overview}}
            </div>
            <div class="bottom">
                <div class="rating">
                    <span>Average rating: </span>{{this.aveRating}}
                </div>
            </div>
        </div>
    </a>
    {{/each}}


</div>

